body{
     /* Le fond sera placé en haut à droite */
}
ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #008B8B; 
  text-decoration: none;
}
li {
  float: left;
}
li a {
  display: block;
  text-align: center;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
.logo{
  width: 500px;
  line-height:0.1;
 margin-left: -110px;
}
.titre{
  font-size: 22px;
  margin-top: 30px;
  color: white;
}
.sous-titre{
  font-size:12px;
  padding-left:35px;
  margin-top: 30px;
}
.detail{
padding-left:800px;
padding-top: 20px;
}
.image{
padding-left: 30px;
padding-top:  
}
.imageb{
  padding-top: -500px;

}
.en-tête{
  width: 100%;
  height: 100%;
    background-color: MediumSpringGreen;
    background-attachment: fixed; /* Le fond restera fixe */
    background-repeat: no-repeat; /* Le fond ne sera pas répété */
    background-size: cover;
    margin-bottom: -200px;
     padding-bottom: 95px;
}
.btn{
  width: 150px;
  border-radius: 7px;
  background-color: #008B8B;
  border-style: none;
  height: 45px;
  margin-top: 20px;

}
#a{
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
  font-style: oblique;
  color: #008B8B;
}
#b{
  font-size: 20px;
}
.logoa{
  margin-top: -7px;
  background-image: url("https://cdn.pixabay.com/photo/2016/07/26/10/51/toilet-1542514__340.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  width:100%;
  height: 300px;

}
.image3{
  margin-top: 20px;
  
}
.texta{
  margin-top: -10px;

}
.textc{
  margin-top: 300px;
  text-align: center;
}
.containerb{
  text-align: center;
}
span{
  font-size: 32px;
  font-weight: bold;
  color: black;
  font-style: oblique;
}
.containerc{
margin-bottom: -300px;
 padding-bottom: 95px;
}

.part{
  background-color:MediumSpringGreen; 
  margin-top: 250px;

}
.titre3{
  text-align: center;
}
.contenu3{
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  padding-bottom: 10px;
}
.titre5{
  width: 500px;
  padding-bottom:30px;
}
.row2{
  width: 500px;
  padding-bottom: 60px;
}
.product{
  color: #4682B4;
  font-size: 25px;
margin-top: -30px;
}
.argument{
  margin-left: -20px;
  background-color:MediumSpringGreen;
}
.description{
  padding-top: 30px;
  color: white;
}
.photo3{
  padding-top: 30px;
  margin-left: 40px;
}
.titre3{
  padding-top: 40px;
  color: white;
}
.footer{
  background-color: #008B8B;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding-bottom: 10px;

}
.footer1{
  margin-top: -150px;
  margin-right: -400px;
}
h3{
  text-align: center;
}
.titre9{
  font-weight: bold;
  color: MediumSpringGreen;
}
.localisation{

  margin-top: 40px;
  margin-right: 90px;
  color: white;
}
.footer2{
  margin-top: 30px;
  font-size: 15px;
  margin-top: -20px;
  color: 
}
.footerback{
  background-color: DimGray;
  padding-bottom: 10px;
}
.contact{
  margin-top: 40px;
  color: white;
}
#stitle{
  color: MediumSpringGreen ;
  font-size: 22px;
}
#sstitle{
  color:#008B8B; 
}

